.type-box {
    position: absolute;
    border-radius: inherit;
    object-fit: contain;
    margin: 1em;
    transition: left 300ms cubic-bezier(0.25, 1.25, 0.5, 1.1),
                top 300ms cubic-bezier(0.25, 1.25, 0.5, 1.1),
                width 300ms cubic-bezier(0.25, 1.25, 0.5, 1.1),
                height 300ms cubic-bezier(0.25, 1.25, 0.5, 1.1),
                background-color 300ms ease,
                box-shadow 300ms ease;
}
.type-box .card {
    border-radius: 0.5em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms cubic-bezier(0.25, 1.25, 0.5, 1.1);
}
.type-box[selected] .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.type-box[simple] .label {
    margin: auto;
}

.type-box[detail] .label {
    margin-left: auto;
    margin-right: auto;
}