.dialog {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: auto;
    transition: height 300ms ease 0ms;
}
:root[color-theme='light'] .dialog {
    border-color: var(--md-sys-color-outline-variant);
    background-color: var(--md-sys-color-background);
    box-shadow: rgba(0,0,0,0.23) 0.25rem 0.25rem 0.5rem;
}
:root[color-theme='dark'] .dialog {
    border-color: var(--md-sys-color-outline);
    background-color: var(--md-sys-color-surface-container-high);
}