.controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0;
}

.controller .label {
    text-align: center;
    --_leading-space: 5px;
    --_trailing-space: 5px;
    --_top-space: 5px;
    --_bottom-space: 5px;
    margin: 0.5rem 0;
}
/* 테이블에 모서리 둥글게 */
.ht_master thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_master thead tr:first-child td:last-child {
    border-top-right-radius: 0.5rem;
}
.ht_master tbody tr:last-child >:first-child {
    border-bottom-left-radius: 0.5rem;
}
.ht_master tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
.ht_clone_top_left_corner thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_clone_top thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_clone_top thead tr:first-child >:last-child {
    border-top-right-radius: 0.5rem;
}
.ht_clone_left tbody tr:last-child >:first-child {
    border-bottom-left-radius: 0.5rem;
}
.ht_clone_left tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
/* 보더 없이, 테이블 테두리만 */
.handsontable tr, .handsontable td {
    border-right: hidden;
    border-bottom-color: var(--md-sys-color-outline-variant);
}
.handsontable th {
    border-right: hidden;
    border-bottom-color: var(--md-sys-color-outline);
}
.handsontable th:last-child {
    border-right: hidden;
    border-bottom-color: var(--md-sys-color-outline-variant);
}
.handsontable .htNoFrame+td, .handsontable .htNoFrame+th, .handsontable td:first-of-type, .handsontable th:first-child {
    border-left: 1px solid var(--md-sys-color-outline);
}
.handsontable tr:first-child td, .handsontable tr:first-child th {
    border-top: 1px solid var(--md-sys-color-outline);
}
.handsontable td:last-child, .handsontable th:last-child {
    border-right: 1px solid var(--md-sys-color-outline);
}
.handsontable tr:last-child td, .handsontable tr:last-child th {
    border-bottom: 1px solid var(--md-sys-color-outline);
}
.handsontable th + td, .handsontable th + th {
    border-left: hidden !important;
}
/* 테이블 헤더 */
.handsontable th {
    color: var(--md-sys-color-primary);
    font-family: var(--md-sys-typescale-headline-small-font);
    transition: background-color 300ms ease-in-out;
}
.handsontable tr th {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}
/* 테이블 셀 */
.handsontable td {
    font-family: var(--md-sys-typescale-body-medium-font);
    transition: background-color 300ms ease-in-out;
}
.handsontable tr td {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}
/* 선택된 헤더 강조 */
.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}
.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}
.handsontable tbody tr:has(td.highlight) td {
    background-color: var(--md-sys-color-primary-container);
}
/* 커서 */
.handsontable .wtBorder.current {
    z-index: 10;
    transition: all 300ms ease-in-out;
    background-color: var(--md-sys-color-primary) !important;
}
.handsontable .wtBorder.current.corner {
    border-color: transparent !important;
    border-radius: 1rem;
}
.handsontable .wtBorder.area {
    z-index: 10;
    transition: all 300ms ease-in-out;
    background-color: var(--md-sys-color-primary) !important;
}
.handsontable .wtBorder.area.corner {
    border-color: transparent !important;
    border-radius: 1rem;
}
.handsontable td.area-1:before, .handsontable td.area-2:before, .handsontable td.area-3:before, .handsontable td.area-4:before, .handsontable td.area-5:before, .handsontable td.area-6:before, .handsontable td.area-7:before, .handsontable td.area:before {
    background: var(--md-sys-color-primary);
}
.handsontable .wtBorder.fill {
    z-index: 10;
    transition: all 300ms ease-in-out;
    background: var(--md-sys-color-tertiary) !important;
}
/* 텍스트 편집 컴포넌트 */
.handsontableInput {
    box-shadow: inset 0 0 0 2px var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface-bright);
}
/* 검증된 데이터 강조 */
.handsontable td.valid:not(.changed) {
    color: var(--md-sys-color-primary);
}
.handsontable td.valid:not(.changed) md-outlined-select {
    --_text-field-input-text-color: var(--md-sys-color-primary);
    --_text-field-hover-input-text-color: var(--md-sys-color-primary);
    --_text-field-focus-input-text-color: var(--md-sys-color-primary);
}
/* 유효하지 않은 데이터 강조(null인 경우도 고려하여 박스 테두리까지 표시한다) */
.handsontable td.invalid:not(.changed) {
    box-shadow: 0 0 0 1px var(--md-sys-color-error) inset;
    color: var(--md-sys-color-error);
}
.handsontable td.invalid:not(.changed) md-outlined-select {
    --_text-field-input-text-color: var(--md-sys-color-error);
    --_text-field-hover-input-text-color: var(--md-sys-color-error);
    --_text-field-focus-input-text-color: var(--md-sys-color-error);
}
/* 변경된 데이터 강조 */
.handsontable td.changed {
    box-shadow: 0 0 0 1px var(--md-sys-color-tertiary) inset;
}
/* 삭제 예정인 데이터 강조 */
.handsontable td.deleted {
    text-decoration: line-through;
}