.controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.controller .label {
    text-align: center;
    --_leading-space: 5px;
    --_trailing-space: 5px;
    --_top-space: 5px;
    --_bottom-space: 5px;
    margin: 0.5rem auto;
    width: 8rem;
}
/* 테이블에 모서리 둥글게 */
.ht_master thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_master thead tr:first-child td:last-child {
    border-top-right-radius: 0.5rem;
}
.ht_master tbody tr:last-child >:first-child {
    border-bottom-left-radius: 0.5rem;
}
.ht_master tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
.ht_clone_top_left_corner thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_clone_top thead tr:first-child >:first-child {
    border-top-left-radius: 0.5rem;
}
.ht_clone_top thead tr:first-child >:last-child {
    border-top-right-radius: 0.5rem;
}
.ht_clone_left tbody tr:last-child >:first-child {
    border-bottom-left-radius: 0.5rem;
}
.ht_clone_left tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
/* 보더 없이, 테이블 테두리만 */
.handsontable tr, .handsontable td, .handsontable th {
    border-right: hidden;
    border-bottom: hidden;
}
.handsontable th:last-child {
    border-right: hidden;
    border-bottom: hidden;
}
.handsontable .htNoFrame+td, .handsontable .htNoFrame+th, .handsontable.htRowHeaders thead tr th:nth-child(2), .handsontable td:first-of-type, .handsontable th:first-child, .handsontable th:nth-child(2) {
    border-left: 1px solid var(--md-sys-color-outline);
}
.handsontable tr:first-child td, .handsontable tr:first-child th {
    border-top: 1px solid var(--md-sys-color-outline);
}
.handsontable td:last-child, .handsontable th:last-child {
    border-right: 1px solid var(--md-sys-color-outline);
}
.handsontable tr:last-child td, .handsontable tr:last-child th {
    border-bottom: 1px solid var(--md-sys-color-outline);
}
/* 테이블 헤더 */
.handsontable th {
    color: var(--md-sys-color-primary);
    font-family: var(--md-sys-typescale-headline-small-font);
    transition: background-color 300ms ease-in-out;
}
.handsontable tr th {
    background-color: var(--md-sys-color-surface-bright);
}
.handsontable thead th, .handsontable tr:nth-child(2) th {
    background-color: var(--md-sys-color-surface-dim);
}
/* 테이블 셀 */
.handsontable td {
    font-family: var(--md-sys-typescale-body-medium-font);
    transition: background-color 300ms ease-in-out;
}
.handsontable tr td {
    background-color: var(--md-sys-color-surface-bright);
}
.handsontable tr:nth-child(2) td {
    background-color: var(--md-sys-color-surface-dim);
}
/* 선택된 헤더 강조 */
.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
    background-color: var(--md-sys-color-secondary-container);
}
.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
    background-color: var(--md-sys-color-primary-container);
    color: #000;
}
/* 커서 */
.handsontable .wtBorder.current {
    z-index: 10;
    transition: all 150ms ease-in-out;
    background-color: var(--md-sys-color-primary) !important;
}
.handsontable .wtBorder.area {
    z-index: 10;
    transition: all 150ms ease-in-out;
    background-color: var(--md-sys-color-secondary) !important;
}
.handsontable .wtBorder.fill {
    z-index: 10;
    transition: all 150ms ease-in-out;
    background: var(--md-sys-color-tertiary) !important;
}