.controller {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem auto;
    width: 30rem;
    border-radius: 2rem;
    padding: 0.5rem;
    background: var(--md-sys-color-surface-container-highest);
}
.canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.canvas-context-menu {
    border: 1px solid black;
    padding: 1em;
}
.drag-shape {
    position: absolute;
    border: 3px dotted #A9A9A9;
    z-index: 100;
}