.canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid black;
    padding: 1em;
}

.canvas-context-menu {
    border: 1px solid black;
    padding: 1em;
}
.drag-shape {
    position: absolute;
    border: 3px dotted #A9A9A9;
    z-index: 100;
}